body {
  text-align: center;
  background: url("images/undefined-bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 24px;
}

input {
  border: 0;
  padding: 10px;
  font-size: 18px;
  background-image: linear-gradient(rgb(18, 18, 67), rgb(165, 109, 118));
}

input[type="submit"] {
  color: white;
  background: rgb(157, 107, 115);
}

img {
  border: 3px solid rgb(175, 131, 139);
  border-radius: 50%;
  width: 380px;
  height: 400px;
  overflow: hidden;
}
